<div class="modal-header">
    <h5 class="modal-title">{{ type }} Credential</h5>
</div>
<div class="modal-body">
    <form [formGroup]="createCredential">
        <div class="d-flex justify-content-center">
          <div class="flex-shirink-0 me-2 col-4">
            <p class="text-end">Username@if (this.createCredential.controls.username.invalid) {
              <span class="text-danger">*</span>
            } </p>
          </div>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="username" >
          </div>
        </div>
        <div class="d-flex justify-content-center">
          @if(this.createCredential.controls.username.invalid)
            {
            @if(this.createCredential.controls.username.dirty || this.createCredential.controls.username.touched)
              {
              <p class="text-danger">Invalid Username</p>
            }
          }
        </div>

		    <div class="d-flex justify-content-center">
          <div class="flex-shirink-0 me-2 col-4">
            <p class="text-end">Remote Host@if (this.createCredential.controls.remote.invalid) {
              <span class="text-danger">*</span>
            } </p>
          </div>
          <div class="col-8">
            <input type="text" class="form-control" formControlName="remote" >
          </div>
        </div>
        <div class="d-flex justify-content-center">
          @if(this.createCredential.controls.remote.invalid)
            {
            @if(this.createCredential.controls.remote.dirty || this.createCredential.controls.remote.touched)
              {
              <p class="text-danger">Invalid Hostname</p>
            }
          }
        </div>

		    <div class="d-flex justify-content-center">
          <div class="flex-shirink-0 me-2 col-4">
            <p class="text-end">Password@if (this.createCredential.controls.password.invalid) {
              <span class="text-danger">*</span>
            } </p>
          </div>
          <div class="col-6">
            <input type="password" class="form-control" formControlName="password" >
          </div>
          @if(this.type === 'Update')
          {
            <button type="checkbox" class="form-control" id="disablepassword" (click)="DisalbePassword('password')">Remove Password</button>
          }
        </div>
        <div class="d-flex justify-content-center">
          @if(this.createCredential.controls.password.invalid)
            {
          }
        </div>



		    <div class="d-flex justify-content-center">
          <div class="flex-shirink-0 me-2 col-4">
            <p class="text-end">SSHKey@if (this.createCredential.controls.key.invalid) {
              <span class="text-danger">*</span>
            } </p>
          </div>
          <div class="col-6">
            <textarea class="form-control" formControlName="key" ></textarea>
          </div>
          @if(this.type === 'Update')
          {
            <button type="checkbox" class="form-control" id="disablepassword" (click)="DisalbePassword('key')">Remove Password</button>
          }
        </div>
        <div class="d-flex justify-content-center">
          @if(this.createCredential.controls.key.invalid)
            {
            @if(this.createCredential.controls.key.dirty || this.createCredential.controls.key.touched)
              {
              <p class="text-danger">Invalid Username</p>
            }
          }
        </div>

        @if(this.type === 'Create')
        {
          <div class="d-flex justify-content-center">
              <div class="flex-shirink-0 me-2 col-4">
                  <p class="text-end">Team Name@if (this.createCredential.controls.teamid.invalid) {
                      <span class="text-danger">*</span>
                  } </p>
              </div>
              <div class="col-8">
                  <select name="clients" id="chooseclient" class="form-control w-100" formControlName="teamid">
                      @for (team of teamList; track team.id) {

                          <option value={{team.id}}>{{team.name}}</option>
                      }
                  </select>
              </div>
          </div>
          @if(this.createCredential.controls.teamid.invalid)
          {
              @if(this.createCredential.controls.teamid.dirty || this.createCredential.controls.teamid.touched)
              {
                  <p>Invalid Username</p>
              }
          }
        }
    </form>
</div>
<div class="modal-footer">
    @if(type === "Create")
    {
        <button class="btn btn-danger" (click)="CreateCredential()" [disabled]="this.createCredential.invalid">{{type}} Credential</button>
    }
    @else if(type === "Update")
    {
        <button class="btn btn-danger" (click)="UpdateCredential()" [disabled]="this.createCredential.invalid">{{ type }} Credential</button>
    }
    <button class="btn btn-secondary" (click)="activeModal.close()">Close</button>
</div>
